---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/simplecov.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - ! '"e4c838fb9d0a8eb3c20785b423ae4866"'
    body:
      encoding: US-ASCII
      string: ! '{"name":"simplecov","downloads":1215706,"version":"0.7.1","version_downloads":347448,"platform":"ruby","authors":"Christoph
        Olszowka","info":"Code coverage for Ruby 1.9 with a powerful configuration
        library and automatic merging of coverage across test suites","project_uri":"http://rubygems.org/gems/simplecov","gem_uri":"http://rubygems.org/gems/simplecov-0.7.1.gem","homepage_uri":"http://github.com/colszowka/simplecov","wiki_uri":"","documentation_uri":"http://rubydoc.info/gems/simplecov/frames","mailing_list_uri":"https://groups.google.com/forum/#!forum/simplecov","source_code_uri":"https://github.com/colszowka/simplecov/","bug_tracker_uri":"https://github.com/colszowka/simplecov/issues","dependencies":{"development":[{"name":"appraisal","requirements":">=
        0"},{"name":"aruba","requirements":">= 0"},{"name":"capybara","requirements":">=
        0"},{"name":"cucumber","requirements":">= 1.1.4"},{"name":"rake","requirements":">=
        0"},{"name":"rspec","requirements":">= 0"},{"name":"shoulda","requirements":">=
        0"}],"runtime":[{"name":"multi_json","requirements":"~> 1.0"},{"name":"simplecov-html","requirements":"~>
        0.7.1"}]}}'
  recorded_at: Tue, 05 Feb 2013 22:55:03 GMT
recorded_with: VCR 2.4.0
