---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/googl.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - ! '"032c383fe6aaeefdd74956a0d9941e3f"'
    body:
      encoding: US-ASCII
      string: ! '{"name":"googl","downloads":16891,"version":"0.6.3","version_downloads":254,"platform":"ruby","authors":"Jesus
        Lopes","info":"Small library for Google URL Shortener API","project_uri":"http://rubygems.org/gems/googl","gem_uri":"http://rubygems.org/gems/googl-0.6.3.gem","homepage_uri":"http://github.com/zigotto/googl","wiki_uri":"","documentation_uri":"","mailing_list_uri":"","source_code_uri":"https://github.com/zigotto/googl","bug_tracker_uri":"https://github.com/zigotto/googl/issues","dependencies":{"development":[{"name":"bundler","requirements":"~>
        1.2.3"},{"name":"jeweler","requirements":"~> 1.8.3"},{"name":"rcov","requirements":">=
        0"},{"name":"rspec","requirements":"~> 2.10.0"},{"name":"webmock","requirements":"~>
        1.8.6"}],"runtime":[{"name":"httparty","requirements":"~> 0.10.0"},{"name":"json","requirements":">=
        1.4.6"}]}}'
  recorded_at: Tue, 05 Feb 2013 22:55:01 GMT
recorded_with: VCR 2.4.0
